<footer class="footer">

    <li>
        <a href="/back" class="<%= isActiveRoute('/back', ) %>">← Back</a>
      </li>
    </ul>

    &copy; <%= new Date().getFullYear(); %> Copywright •  TheLifeStyleBlog

</footer>  